<?xml version="1.0" encoding="utf-8" ?>  
<!-- ЗДЕСЬ ОПИШЕМ КОНФИГУРАЦИЮ (НАСТРОЙКА) НАШЕГО ХОСТА: КАК БУДЕТ РАБОТАТЬ НА КАКИХ ПОРТАХ 
     КАКИЕ ПРОТОКОЛЫ, IP, БУДЕТ ИСПОЛЬЗОВАТЬ, ТАКЖЕ ДЛЯ ПЕРЕСЫЛКИ МЕТАДАННЫХ ХОСТА К КЛИЕНТУ
     ЧТОБЫ В КЛИЕНТЕ НЕ НУЖНО БЫЛО ПРОПИСЫВАТЬ ВСЕ ЭТИ КОНФИГИ ЧТОБЫ ЭИ ДАННЫЕ КЛИЕНТ ТЯНУЛ 
     АВТОМАТИЧЕСКИ С НАШЕГО ХОСТА.-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBeh"> <!--здесь будет настройка поведения обмена метаданными (информация о сервисе с клиентом)-->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
          <service name="WcfChat.ServiceChat" behaviorConfiguration ="mexBeh">
            <endpoint address="" binding="netTcpBinding" contract="WcfChat.IServiceChat">
              <!--Это endpoint basicHttpBinding меняем на netTcpBinding с протоколом netTCP(это сам сервис )-->
              <!--<identity>
                        <dns value="localhost" /> 
                    </identity>-->
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <!--Это endpoint который работает для обмена метданными его мы не меняем-->
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8301" /> 
                <!--адреса хостов здесь должен быт указан 
                        (протокол http (по которому будет выполнятся подключение - обмен метаданными по http) localhost 
                        это айпи (если бы размещали в сети то нужно указывать апи адресс сервера) и порт на 
                        котором будет происходить обмен данными) http://localhost:8301-->
                <add baseAddress="net.tcp://localhost:8302"/>
                <!-- сам порт будет работать на nettcp-->
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>

</configuration>